/*     Styles í Lokaverkefni um Clash Royale     */
body {
    margin: 0 auto;
    /*background: black;*/
    line-height: 1.3;
    font-family: 'Signika', sans-serif;
    background-image: linear-gradient(to bottom, #0e4774,#307db8, white );
}
.texti{
    max-width: 60em;
    text-align: center;
    margin: auto;
}
.topcol{
    width: 100%;
    /*background: blue;
    color: whitesmoke;*/
    padding: 1em;
}
.headermynd {
    width: 62em ;
}
/* 
    line-height: 1.2;
    display: block;
    margin: 4em;
    max-width: 60em;
    background-color: orange; 
    */
.row {
    display:flex;
	flex-flow:  row-reverse wrap;
}
.kassi1{
    grid-area: kassi1;
}

.kassi2 {
    grid-area: kassi2;
}
.kassi3{
    grid-area: kassi3;
}
.kassi4{
    grid-area: kassi4;
}
.box{
    font-size: 1.2em;
	height: 5em;
    width: 60em; 
	display: flex;
	align-items: center;
	justify-content: center;
}
.main{
    display:grid;
    grid-template-areas:
        "mynd1 kassi1"
        "mynd1 kassi2"
        "youtubemynd youtubemynd"
        "mynd2 kassi3"
        "mynd2 kassi4";
    grid-template-columns: 1fr 4fr;
}
.youtubemynd {
    grid-area: youtubemynd;
    justify-content: center;
}
