/*     Styles í Lokaverkefni um Clash Royale     */
body {
    margin: 0 auto;
    background: black;
    line-height: 1.3;
    background-color: orange;
}
.texti{
    max-width: 60em;
    text-align: center;
    margin: auto;
}
.topcol{
    width: 100%;
    background: blue;
    color: whitesmoke;
    padding: 1em;

}

/* 
    line-height: 1.2;
    display: block;
    margin: 4em;
    max-width: 60em;
    background-color: orange; 
    */